<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iciciappathon.expay">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".Framework.ExPay"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".Activities.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.CreateGroupActivity" />
        <activity android:name=".Activities.HomeActivity" />
        <activity android:name=".Activities.GroupDetailsActivity" />
        <activity android:name=".Activities.AddDetailsActivity"></activity>
    </application>

</manifest>